/* basic body style */

body {
  background-image: url("pexels-la-miko-3616764.jpg");
  background-size: cover;
  font-size: 16px;
  font-family: 'Sawarabi Mincho', sans-serif;
}



/* styling of various classes */

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.currentTime {
  background-color: #e7d0cf;
  color: white;
}
.pastTime{
  background-color: #d3d3d3;
  color: white;
}
.futureTime{
  background-color: #d7e9d7;
  color: white;
}
/* Hover effect styling on button */
button:hover {
  font-size: 18px;
  transition: all .3s ease-in-out;
}

/*Customer styles*/
.lead{
  padding:2em;
}
